#folders

.idea/
.vs/
Android_ASTC/
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Content/StartContent/

#files
*.vsconfig
*.sln
*.xcodeproj
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcworkspace
