#folders

.idea/
.vs/
Android_ASTC/
Android_ASTCClient/
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
WindowsServer/

#files
*.vsconfig
*.sln
*.xcodeproj
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcworkspace
